.post{
    background-color: white;
    border:1px solid lightgray;
    max-width: 500px;
    margin: 1rem auto;
}

.postImage{
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
}

.postHeader{
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.postAvatar{
    margin-right: 0.2rem;
}

.postText{
    font-weight: normal;
    padding: 0.3rem;
}

.commentBox{
    display: flex;
    margin: 0.2rem;
}

.commentInput{
    flex:1;
    padding: 0.3rem;
    border: none;
    border-top: 1px solid lightgray;
}

.commentButton{
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
    color: #6082a3;
}